# Dependencies
node_modules/

# Builds/Artifacts
dist/
build/
.env

# OS files
.DS_Store

# IDE
.idea

# Local environment files
.env
infra/postgres/.env
apps/api/.env
apps/web/.env
apps/web/.env.local
